GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://localhost:5432/db?sslmode=disable&user=user&password=postgres
GOOSE_MIGRATION_DIR=./migrations
GOOSE_TABLE=public.goose_migrations

SERVICE_NAME=link-shortener

HTTP_PORT=8081
GRPC_PORT=8091

POSTGRESQL_HOST=127.0.0.1
POSTGRESQL_PORT='5432'
POSTGRESQL_USER=user
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_DBNAME=db
POSTGRESQL_SSLMODE=disable
POSTGRESQL_LOG_LEVEL=INFO
POSTGRESQL_METRICS_UPDATE_INTERVAL=5s
POSTGRESQL_POOL_MAX_CONNS=10