SERVICE_NAME=link-shortener

# HTTP
SERVICE_HTTP_PORT=8080

# GRPC
SERVICE_GRPC_PORT=8090

# Metrics
SERVICE_METRICS_PORT=2045

# Log
LOG_PREFIX="draft-project: "
LOG_ENCODING_TYPE=PLAIN
LOG_LEVEL=DEBUG
LOG_ENABLE_CALLER=true

# Tracing
TRACING_URL=http://collector-endpoint.try.obs.mts.ru/api/traces
TRACING_SERVICE_NAME=draft-project
TRACING_ENVIRONMENT=dev

# Redis
CACHE_ENABLED=false
CACHE_HOSTS=redis:6379
CACHE_PASSWORD=password
CACHE_DATABASE=0
CACHE_READ_TIMEOUT=5s
CACHE_WRITE_TIMEOUT=60s
CACHE_LOG_LEVEL=DEBUG
CACHE_TTL=5m

# Postgres
POSTGRES_ENABLED=false
POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/draftproject?sslmode=disable
POSTGRES_LOG_LEVEL=DEBUG
POSTGRES_METRICS_UPDATE_INTERVAL=10s
POSTGRES_ENABLE_LOGGING=true
POSTGRES_MAX_CONN_IDLE_TIME=5m